* {
    margin: 0;
}

img {
    display: block;
}

body {
    width: 600px;
    cursor: wait;
}

#mainCat {
    width: 600px;
    max-height:500px;
    object-fit: cover;
    cursor: pointer;
}

.previousContainer {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    height: 100px;
}

.previousContainer > img {
    cursor: pointer;
    filter: brightness(100%);
    max-width: 150px;
    height: inherit;
    object-fit: cover;
    box-shadow: none;
    transition: filter 0.25s ease;
}

.previousContainer > img:hover {
    filter: brightness(70%);
}